# Azure OpenAI Configuration
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o-realtime-preview
OPENAI_API_VERSION=2025-04-01-preview

# LIFF Configuration
VITE_LIFF_ID=